body{
    padding: 10px;
    margin: 0;
}

button{
    padding: 3px 15px;
    cursor: pointer;
}

.modal_container{
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.3);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.hide{
    display: none;
}

.modal{
    width: 80vw;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    background: #fff;
    position: relative;
    top: 20vh;
}

.modal_header{
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.modal_body button{
    margin: 0 15px;
}

@media screen and (min-width: 600px) {
    .modal{
        width: 400px;
    }
}