body{
    padding: 10px;
    margin: 0;
}

button{
    padding: 3px 15px;
    cursor: pointer;
}

.modal{
    width: 80vw;
    z-index: 1;
    margin: auto;
    border: 1px solid red;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}

.modal_header{
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.modal_body button{
    margin: 0 15px;
}

@media screen and (min-width: 600px) {
    .modal{
        width: 400px;
    }
}